{% extends 'base.html.twig' %}

{% block title 'Agence immo' %}

{% block body %}
    <div class ="jumbotron text-center">
        <h1>Agence immo</h1>
        <p>lorem ipsum dolor, sit acteur blog symfony lorem ipsum dolor, sit acteur blog symfony lorem ipsum dolor, sit acteur blog symfony lorem ipsum dolor, sit acteur blog symfony lorem ipsum dolor, 
            sit acteur blog symfony agence immobiliére</p>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div calss="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} {{ property.postalCode }}</p>
                            <div class="text-primary" style="font-weight:bold;font-size: 2rem;">{{ property.formattedPrice }} € </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}